body{
    color: $black;
}
h2{
    font-family: $displayFont;
    font-size: 3rem;
    text-transform: capitalize;
    margin: .5rem 0 3rem;
    color: $black;
}

h5{
    color: $titleColor;
    font-size: 0.7rem;
    margin: .5rem 0 1rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

p{
    font-size: 1.1rem;
    color: $paragraphColor;
    line-height: 1.8;
    margin: .5rem 0 3rem;
    font-weight: 300;
}

a{
    transition: all .5s ease-in-out;
    &:hover{
        color: $red;
    }
}